body {
    background: #0C0C0C;
}
.smile {
    width: 400px;
    height: 400px;
    background-color: blue;
    border-radius: 50%;
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 50px;
}
.eye1 {
    position: absolute;
    width: 75px;
    height: 75px;
    left: 100px;
    top: 75px;
    border-radius: 50%;
    background: #D9D9D9;
    animation: eye 1s ease-in-out infinite;
}
.eye2 {
    position: absolute;
    width: 75px;
    height: 75px;
    left: 225px;
    top: 75px;
    border-radius: 50%;
    background: #D9D9D9;
    animation: eye 1s ease-in-out infinite;
}
.dot1 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 155px;
    top: 103px;
    border-radius: 50%;
    background: #0C0C0C;
    animation: dot-black 1s ease-in-out infinite;
}
.dot2 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 280px;
    top: 103px;
    border-radius: 50%;
    background: #0C0C0C;
    animation: dot-black 1s ease-in-out infinite;
}

@keyframes eye {
    0% {
        transform: scaleY(0);
    }  
    50% {
        transform: scaleY(1);
    }
    100% {
        transform: scaleY(0);
    }
} 
@keyframes dot-black {
    0% {
        transform: scaleY(0);
    }  
    50% {
        transform: scaleY(1);
    }
    100% {
        transform: scaleY(0);
    }
}
    /* -----BOX---- */
span {
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    position: relative;
    width: 240px;
    height: 240px;
    left: 0px;
    top: 0px;
    background: #661fb8;
    animation: box 4s ease-in-out infinite;
    margin-bottom: 200px;
}
@keyframes box {
    0% {
        top: 0;
        left: 0;
        }
    25% {
        top: 150px;
        left: 0;

    }
    50% {
        top: 150px;
        left: 150px;
    }
    75% {
        top: 0px;
        left: 150px;
    }
}
/* .traffic-light {

} */
.red {
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 50%;
    margin-bottom: 40px;
    animation: ring1 3s ease-in-out infinite;
}
.yellow {
    width: 100px;
    height: 100px;
    background: yellow;
    border-radius: 50%;
    margin-bottom: 40px;
    animation: ring2 3s ease-in-out infinite;

}
.green {
    width: 100px;
    height: 100px;
    background: green;
    border-radius: 50%;
    animation: ring3 3s ease-in-out infinite;
}
@keyframes ring1 {
    0% {
        background: #FF0000;
    }
    50% {
        background: rgb(255, 0, 0, 0.3);
    }
    100% {
        background: rgb(255, 0, 0, 0.3);
    }
}
@keyframes ring2 {
    0% {
        background: rgb(255, 168, 0, 0.3);
    }
    50% {
        background: #FFA800;
    }
    100% {
        background: rgb(255, 168, 0, 0.3);
    }
}
@keyframes ring3 {
    0% {
        background: rgba(3, 66, 2, 0.61);
    }
    50% {
        background: rgba(3, 66, 2, 0.61);
    }
    100% {
        background: #00FF19;
    }
}
